@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: auto overlay;
  background-color: #fa8bff;
  background-image: linear-gradient(-45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
  min-width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.navbar {
  z-index: 5;
}

.navbar .nav-1 {
  z-index: 5;
  background: rgba(0, 0, 0, 0.624);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-1 .nav-heading {
  font-size: 90px;
  text-align: center;
  font-family: "Redressed", cursive;
  display: inline-block;
  color: transparent;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#dabeff), to(#b7ff7d));
  background: linear-gradient(90deg, #dabeff, #b7ff7d);
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .nav-1 .nav-heading:hover {
  font-size: 95px;
}

.navbar .nav-1 .dark-html-btn {
  position: absolute;
  right: 15px;
  height: 8%;
  cursor: pointer;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .nav-1 .dark-html-btn:hover {
  height: 10%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0px;
}

.nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Syne Mono", monospace;
  font-size: 25px;
  /*   position: sticky;
  top: 0px;
  left: 0px; */
  background: rgba(0, 0, 0, 0.808);
  padding: 8px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.nav-2 .logo {
  height: 70px;
  border: 2px solid white;
  border-radius: 23px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 6;
}

.nav-2 .logo:hover {
  height: 75px;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-ul .nav-li {
  list-style: none;
  padding: 13px 33px;
  margin: 0px 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-align: end;
}

.nav-ul .nav-li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-ul .nav-li:hover {
  font-size: 30px;
  background-color: white;
  border-radius: 5px;
}

.nav-ul .nav-li:hover a {
  color: #182331;
}

.nav-ul .nav-li:active {
  -webkit-transition: none;
  transition: none;
  -webkit-filter: invert(20%);
          filter: invert(20%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  border-radius: 5px;
}

.context-menu {
  position: fixed;
  bottom: 30px;
  width: 100%;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 6;
}

.context-menu .context-menu-h {
  display: inline-block;
  background: white;
  padding: 7px 17px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 4px #f1e2e2;
          box-shadow: 0px 0px 10px 4px #f1e2e2;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.context-menu .context-menu-h:hover {
  font-size: 1.3em;
}

.context-menu.context-menu-show {
  opacity: 1;
  pointer-events: all;
}

.close-btn {
  height: 30px;
  cursor: pointer;
}

.close-btn:hover {
  -webkit-filter: invert(50%);
          filter: invert(50%);
}

.close-btn:active {
  -webkit-filter: invert(70%);
          filter: invert(70%);
}

.p {
  padding: 25px;
}

footer {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  text-align: center;
  padding: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

footer p,
footer div {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0;
}

footer p:hover,
footer div:hover {
  font-size: 21px;
}

footer .footer-btn {
  color: #b5c7da;
  text-decoration: none;
  -webkit-transition: font-size 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out;
}

footer .footer-btn:hover {
  font-size: 21px;
  text-decoration: underline;
  color: blue;
}

footer .footer-btn:active {
  -webkit-transition: none;
  transition: none;
  /* text-decoration: underline; */
  color: red;
}

.hamburger {
  display: none;
  -webkit-filter: invert(1);
          filter: invert(1);
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburger:hover {
  height: 65px;
}

.menu-close {
  list-style: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0px 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  height: 50px;
  padding: 13px 28px;
  display: none;
}

.menu-close img {
  height: inherit !important;
}

.menu-close:hover {
  height: 65px;
}

/* @keyframes open-menu {
  from {
    position: fixed;
    right: -325px;
  }

  to {
    position: fixed;
    right: 0;
  }
} */
@media only screen and (max-width: 972px) {
  .hamburger,
  .menu-close {
    display: inline-block;
    z-index: 5;
    padding-right: 15px;
  }
  .nav-ul {
    position: fixed;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: -325px;
    height: 100vh;
    background: -webkit-gradient(linear, right top, left top, from(#b3ffa0), to(#80ff61));
    background: linear-gradient(-90deg, #b3ffa0, #80ff61);
    padding: 84px 10px;
    z-index: 5;
    padding-top: 192px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .nav-2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-li a {
    background-image: -webkit-gradient(linear, left top, right top, from(#6868ff), to(#00005a));
    background-image: linear-gradient(90deg, #6868ff, #00005a);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
    font-weight: bold;
  }
  .show-nav {
    right: 0;
  }
  .change-color {
    -webkit-filter: invert(0);
            filter: invert(0);
    padding-right: 58px;
  }
}

@media only screen and (max-width: 484px) {
  footer {
    padding: 15px;
  }
}

@media only screen and (max-width: 375px) {
  footer {
    font-size: 15px;
  }
  footer:hover {
    font-size: 20px;
  }
  .nav-heading {
    font-size: 70px !important;
  }
  .nav-heading:hover {
    font-size: 75px !important;
  }
}
/*# sourceMappingURL=style.css.map */